@import '~antd/es/style/themes/default.less';

.fitness-dashboard {
  .stat-cards {
    margin-bottom: 24px;
  }

  .chart-container {
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }

  .timeline-container {
    max-height: 400px;
    overflow-y: auto;
  }
}
